
.contenedorApartado {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
margin-top: 70px;
  padding: 30px;
  gap: 100px;
  background-color: #f2f2f2; 
  border-radius: 9px;
  margin-bottom: 30px;
  border: 1px solid #bfbfbf;

}

.ContenedorTodoo {
  padding: 70px;
  width: 100%;
  height: 100%;
}
.titulo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.titulo h2 {
  align-items: center;
  margin: 0 auto;

}
.imagenLibro img {
  max-width: 200px;
}

.contenedorDescripcion {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  padding: 0 20px;
}

.contenedorDescripcion h2 {
  font-size: 24px; 
}

.contenedorDescripcion p {
  margin-bottom: 10px; 
}

@media (max-width: 700px) {
  .contenedorApartado {
    display: flex;
    flex-direction: column;
    border-radius: none;
    border-left: none; 
    border-right: none;
    box-shadow: none; 
    padding-top: none; 
    padding-bottom: none;
    margin-bottom: none; 
    background-color: white; 
  }
  .imagenLibro img {
    max-width: none; 
    width: auto; 
    height: auto;
  }
}
