.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 246, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-content {
  background-color: rgb(255, 255, 255);

  padding: 20px;
  width: 35%;
  text-align: center;
}

.modal-content img {
  width: 100px;
}
.modal-content button {
  background-color: rgb(39, 190, 39);
  border: none;
  color: white;
}
.modal-content button:hover {
  background-color: rgb(30, 180, 35);
}
@media (max-width: 452px) {
  .modal-content {
    padding: 10px;
    width: 80%;
  }
  
  
 }