@font-face {
  font-family: "Poppins";
  src: url(path/to/font.woff2) format("woff2"),
    url(path/to/font.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
.NavbarCarro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;

    box-sizing: border-box;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 10%;
  padding: 10px;
  background-color: #F5F5F5;

  overflow-y: auto;
}
.NavbarCarro h3:hover {
  cursor: pointer;
}
.CarritoContainer {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
  position: fixed;
  top: 10%;
  right: 0;

  width: 30%;
  height: 72%;
  background-color: white;

  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.CarritoContainer p {
  cursor: pointer;
  font-size: 15px;
}
.DescripcionBook{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.CarritoContainer p:hover {
  margin-top: 0;
  transform: scale(1.1);
  border-radius: 20px;
  height: 21px;
}
.Carrito-list {
  margin: 0;
  padding: 3px;
  list-style: none;
  padding: 20px;
}
.Carrito-list li {
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #fffdfd;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(70, 68, 68, 0.5);
  color: black;
  padding: 10px;
}

.ContenedorCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  font-size: 12px;
}
.FooterContainer {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 80%;
  bottom: 0;
  width: 30%;
  height: 20%;
  background-color: #F5F5F5;
  box-sizing: border-box;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  justify-content: space-between;
 
  padding: 30px;
}
.FooterContainer button{
  border: none;
  background-color: orange;
  color: white;
  width: 100%;

}
.FooterContainer button:hover{
  border: none;
  background-color: rgb(248, 173, 34);
  color: white;
  box-sizing: border-box;
  box-shadow:  0px 1px 12px rgb(248, 173, 34);
  
}
.TotalPrecio{
  display: flex;
  justify-content: space-between;
}

.custom-list-container {
  position: absolute;
  left: 60%;
  z-index: 9999;
  background-color: rgb(56, 56, 56);
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  color: white;
}
.custom-list-container1 {
  position: absolute;
  left: 70%;
  z-index: 9999;
  background-color: rgb(56, 56, 56);
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  color: white;
}

.custom-list {
  margin: 0;
  padding: 3px;
  list-style: none;
}

.custom-list li {
  border-bottom: 1px solid white;
  padding: 5px;
  margin: 0 auto;
  font-family: "Poppins";
}
#Inicio {
  text-decoration: none;
}
.custom-list :hover {
  background-color: #3a4646;
  cursor: pointer;
}
.ContieneNarvab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #fffdfd;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  color: black;
  padding: 10px;
}
.ContieneNarvab ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 20px 0px;
  font-family: "Poppins";
}

.BotonesDeInicio {
  background: #fff;
  color: #5a5a5a;
  padding: 8px 16px;
  border-radius: 3px;
  position: relative;
  border-bottom: 2px solid transparent;
}
.ContieneNarvab h3 {
  margin: 18px auto;
  font-family: "Montserrat", sans-serif;
}
.BotonesDeInicio:hover {
  border-bottom: 2px solid #dddcdc;
  cursor: pointer;

}


@media (max-width: 700px) {
  .ContieneNarvab {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 10px 0px;
    font-family: "Poppins";
  }
  .ContieneNarvab ul {
    gap: 10px;
  }

  .BotonesDeInicio {
    font-size: 12px;
    padding: 2px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .ContieneNarvab {
    height: 80px;
  }
  .ContieneNarvab h3 {
    font-size: 11px;
  }
  .ContieneNarvab li {
    padding: 0px;
  }
}
