@font-face {
  font-family: "Poppins";
  src: url(path/to/font.woff2) format("woff2"),
    url(path/to/font.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

.custom-list-container {
  position: absolute;
  left: 60%;
  top: 80px;
  z-index: 9999;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 400px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
 
}
.custom-list-container1 {
  max-height: 300px; 
  overflow-y: scroll;
  position: absolute;
  left: 70%;
  margin-top: 40px;
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);

 
}
.custom-list-scroll {
  max-height: 300px;
  overflow-y: scroll;
}

.custom-list {
  margin: 0;
  padding: 3px;
  list-style: none;
  overflow: auto;
}

.custom-list li {
  border-bottom: 1px solid white;
  padding: 5px;
  margin: 0 auto;
  font-family: "Poppins";
}
#Inicio {
  text-decoration: none;
}
.custom-list :hover {
  background-color: #cfd3d3;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.5);
  color: #000000;
}

.ContieneNavbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 20px 30px;
  font-family: "Poppins";
  border-bottom: none
}

.BotonesDeInicio {
  background: #fff;
  color: #5a5a5a;
  padding: 8px 16px;
  border-radius: 3px;
  position: relative;
  border-bottom: 2px solid transparent;
}

.BotonesDeInicio:hover {
  border-bottom: 2px solid #dddcdc;
  cursor: pointer;
}
.ButtonCart {
  background: #fff;
  color: #5a5a5a;
  padding: 8px 16px;
  border-radius: 3px;
  position: relative;
  border-bottom: 2px solid transparent;
}

.ButtonCart:hover {
  cursor: pointer;
}
.slider-item {

  color: black;
}

@media (max-width: 700px) {
  .ContieneNavbar {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 10px 0px;
    font-family: "Poppins";
  }
  .ContieneNavbar ul {
    gap: 10px;
  }

  .BotonesDeInicio {
    font-size: 12px;
    padding: 2px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .ContieneNavbar {
    height: 80px;
  }
  .ContieneNavbar h3 {
    font-size: 11px;
  }
  .ContieneNavbar li {
    padding: 0px;
  }
}
.i {
  padding: 0px;
  border-radius: 5px;

  position: fixed;
  right: 29px;
  font-size: 28px;
}

.i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.LogoNombre {
  gap: 30px;
  font-family: "Merriweather", serif;
  font-size: 40px;
}
.LaCantidad {
  display: flex;
}
.Cantidades {
  border: 1px black solid;
  padding: 2px 5px;
}
.Cantidades:hover {
  border: 1px black solid;
  padding: 2px 5px;
}#CambiarCantidad:hover{
  cursor: pointer;
} 
@media (max-width: 375px) {
  
  .ContieneNavbar ul {
    padding: 0px;
  }
}