.container {
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: "Merriweather", serif;
}
.card-body:hover {
  box-sizing: border-box;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.5);
}
.card {
 margin-bottom: 30px;
}.row {
  width: 100%;
}.contadorCarrito {
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.mensaje-container {
  position: fixed;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.mensaje-item-enter {
  opacity: 0;
  transform: scale(0.9);
}

.mensaje-item-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.mensaje-item-exit {
  opacity: 1;
  transform: scale(1);
}

.mensaje-item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.mensaje {
  background-color: rgb(41, 41, 41);
  padding: 10px 20px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.row{
  padding: 50px;
}
.card{
  width: 300px;
  margin-top: 40px;
  }
  .slider-item{
    margin: 0;
  }
  .slick-prev,
.slick-next {
  color: black !important;
}
.Cargando{
  position: absolute;
  left: 50%;
  top: 50%;
}.slick-prev:before,
.slick-next:before {
  color: black;
}