@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Permanent Marker', cursive;

}

.col-md-3 img{
    max-height:300px;
    
   
}
.card-body{
    padding: 10px;
    min-height: 500px;
    max-height: 500px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}



  
 